@import './../../scss/general.scss';


.room-wrapper{
  @extend .card;
  margin: 5%;
  padding: 3% 5% 3% 5%;
  text-overflow: ellipsis;
  word-wrap:normal;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color: rgb(143, 201, 218);
    .delete-icon{
      visibility: visible;
    }
  }

  &:active{
    background-color: rgb(52, 99, 113);
  }
  .delete-icon{
    float: right;
    visibility: hidden;
    vertical-align: middle;
  }
  .info-el{
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
  }
}