$label-text: 1.5em;
$blue-color:rgb(18, 124, 223);
$blue-color-hover:rgb(54, 135, 210);
$large-font:2em;
$error-color: rgb(223, 0, 0);
.card{
    border-radius: 5px;
    box-shadow: -3px 5px 8px 0px rgb(10 10 10 / 49%);

    
}
.input-el{
  @extend .card;
  border: 0px;
  padding: 1% 3% 1% 5%;
  &:focus-visible{
    outline-color:transparent
   }
}

.general-button{
  
  @extend .input-el;
  color: #fff;
  font-size: 1em;
  background-color: $blue-color;
  cursor: pointer;
  &:hover{
    background-color: rgb(9 102 188 / 70%);
  }
  &:active{
    background-color: rgb(9 102 188 / 80%);
  }
}

@mixin general-button($background-color){
  
  @extend .input-el;
  color: #fff;
  font-size: 1em;
  background-color: $background-color;
  cursor: pointer;
  &:hover{
    background-color: darken($background-color, 20%) ;
  }
  &:active{
    background-color:darken($background-color, 30%);
  }
}

@mixin general-background($background-color){
  background-color: $background-color;
  cursor: pointer;
  &:hover{
    background-color: darken($background-color, 20%) ;
  }
  &:active{
    background-color:darken($background-color, 30%);
  }
}

.general-ul-el{
  padding-inline-start:0%;
  margin-block-start:0%;
  margin-block-end:0%;
  list-style-type: none;
}

.general-link{
  text-decoration-line: none;
}
